.btn{
    padding: 10px 10px;
    background-color: #9CC3D5FF;
    border: 1px solid #00203FFF;
    cursor: pointer;
    color: #00203FFF;
}

.inputForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.inputPost{
    display: block;
    padding: 10px 10px;
    margin: 5px;
    outline: none;
    border: 1px solid #00203FFF;
}

::placeholder{
    color: #00203FFF;
}